/Source/ProgramHeaders.xml
/Source/DataSourcesIndex.xml
*.log
*.lock
*.opt
*.sln
*.suo
*.xpaproj
/developer.ini
/startdev.bat
/temp/*
/mglock.dat

/*.optback
/CrossRef.XRF
*.edp
git.log
/mydir
/mydir/*
